# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

  # enable awesome urls. i.e.:
  # http://yourdomain.com/about-us/team
  RewriteEngine on

  # make sure to set the RewriteBase correctly
  # if you are running the site in a subfolder.
  # Otherwise links or the entire site will break.
  #
  # If your homepage is http://yourdomain.com/mysite
  # Set the RewriteBase to:
  #
  # RewriteBase /mysite

  # enable cachebuster
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.+)\.(\d+)\.(js|css)$ $1.$3 [L]

  # block text files in the content folder from being accessed directly
  RewriteRule ^content/(.*)\.(txt|md|mdown)$ error [R=301,L]

  # block all files in the site folder from being accessed directly
  RewriteRule ^site/(.*) error [R=301,L]

  # block all files in the kirby folder from being accessed directly
  RewriteRule ^kirby/(.*) error [R=301,L]

  # make panel links work
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^panel/(.*) panel/index.php [L]

  # make site links work
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) index.php [L]

</IfModule>


# gzip text, html, javascript, css, xml:
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>


## Caching
<IfModule mod_expires.c>
  Header unset Pragma
  FileETag None
  Header unset ETag
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresDefault "access plus 2 days"
</IfModule>


# Additional recommended values
# Remove comments for those you want to use.
#
# AddDefaultCharset UTF-8
#
# php_flag short_open_tag on

# Block spammers
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly.\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*iloveitaly\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*econom\.co/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*savetubevideo\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*kambasoft\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*buttons\-for\-website\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*semalt\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*darodar\.com/ [NC]
  RewriteCond %{HTTP_REFERER} ^http://.*0n\-line\.tv/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*100dollars\-seo\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*12masterov\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*1pamm\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*4webmasters\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*5forex\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*7makemoneyonline\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*acads\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*adcash\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*adspart\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*adventureparkcostarica\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*adviceforum\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*affordablewebsitesandmobileapps\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*afora\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*akuhni\.by/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*allknow\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*allnews\.md/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*allwomen\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*alpharma\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*altermix\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*amt\-k\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*anal\-acrobats\.hol\.es/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*anapa\-inns\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*android\-style\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*anticrawler\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*arendakvartir\.kz/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*arkkivoltti\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*artparquet\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*aruplighting\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*autovideobroadcast\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*aviva\-limoux\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*azartclub\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*baixar\-musicas\-gratis.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*baladur\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*balitouroffice\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*bard\-real\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*bestmobilityscooterstoday\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*best\-seo\-offer\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*best\-seo\-solution\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*bestwebsitesawards\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*bif\-ru\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*biglistofwebsites\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*billiard\-classic\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*bizru\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*blackhatworth\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*bluerobot\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*blue\-square\.biz/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*bmw\.afora\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*brakehawk\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*break\-the\-chains\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*brk\-rti\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*brothers\-smaller\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*budmavtomatika\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*buttons\-for\-website\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*buttons\-for\-your\-website\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*buy\-cheap\-online\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*buy\-forum\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*cardiosport\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*cartechnic\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*cenokos\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*cenoval\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*cezartabac\.ro/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*cityadspix\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ci\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*civilwartheater\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*coderstate\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*codysbbq\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*conciergegroup\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*connectikastudio\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*cubook\.supernew\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*customsua\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*dailyrank\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*darodar\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*delfin\-aqua\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*demenageur\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*descargar\-musica\-gratis\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*detskie\-konstruktory\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*dipstar\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*djekxa\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*dojki\-hd\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*domination\.ml/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*doska\-vsem\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*dostavka\-v\-krym\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*drupa\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*dvr\.biz\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ecomp3\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*econom\.co/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*edakgfvwql\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*egovaleo\.it/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ekto\.ee/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*e\-kwiaciarz\.pl/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*elmifarhangi\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*erot\.co/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*escort\-russian\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*este\-line\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*euromasterclass\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*europages\.com\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*eurosamodelki\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*event\-tracking\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*fbdownloader\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*floating\-share\-buttons\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*forex\-procto\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*forsex\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*forum20\.smailik\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*forum69\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*free\-share\-buttons\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*free\-social\-buttons\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*freewhatsappload\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*fsalas\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*generalporn\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*germes\-trans\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*get\-free\-traffic\-now\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ghazel\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*girlporn\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*gkvector\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*glavprofit\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*gobongo\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*goodprotein\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*googlsucks\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*guardlink\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*handicapvantoday\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*howopen\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*howtostopreferralspam\.eu/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*hulfingtonpost\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*humanorightswatch\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*hundejo\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*hvd\-store\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ico\.re/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*igru\-xbox\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*iloveitaly\.ro/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*iloveitaly\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.co/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ilovevitaly\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*iminent\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*imperiafilm\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*investpamm\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*iskalko\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ispaniya\-costa\-blanca\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*it\-max\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*jjbabskoe\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*kabbalah\-red\-bracelets\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*kambasoft\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*kazrent\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*kino\-fun\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*kino\-key\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*kinopolet\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*knigonosha\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*konkursov\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*laxdrills\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*littleberry\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*livefixer\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*luxup\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*makemoneyonline\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*manualterap\.roleforum\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*maridan\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*masterseek\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*mebelcomplekt\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*mebeldekor\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*med\-zdorovie\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*minegam\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*mini\.7zap\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*mirobuvi\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*mirtorrent\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*mobilemedia\.md/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*moyakuhnia\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*msk\.afora\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*muscle\-factory\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*myftpupload\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*niki\-mlt\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*novosti\-hi\-tech\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*online\-hit\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*onlywoman\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*o\-o\-6\-o\-o\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*o\-o\-6\-o\-o\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*o\-o\-8\-o\-o\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ooo\-olni\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ozas\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*palvira\.com\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*petrovka\-online\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*photokitchendesign\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*pornhub\-forum\.ga/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*pornhub\-forum\.uni\.me/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*pornhub\-ru\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*pornoforadult\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*portnoff\.od\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*pozdravleniya\-c\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*priceg\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*pricheski\-video\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*producm\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*prodvigator\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*prointer\.net\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*promoforum\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*psa48\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*qitt\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*qwesa\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ranksonic\.info/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ranksonic\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*rapidgator\-porn\.ga/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*rcb101\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*research\.ifmo\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*resellerclub\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*reversing\.cc/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*rightenergysolutions\.com\.au/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*rospromtest\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sady\-urala\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sanjosestartups\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*savetubevideo\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*screentoolkit\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*search\-error.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*semalt\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*semaltmedia\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*seoexperimenty\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*seopub\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*seo\-smm\.kz/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sexyteens\.hol\.es/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sharebutton\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sharebutton\.to/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*shop\.xz618\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sibecoprom\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*simple\-share\-buttons\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*siteripz\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sledstvie\-veli\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*slftsdybbg\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*slkrm\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*soaksoak\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*social\-buttons\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*socialseet\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sohoindia\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*solnplast\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*sosdepotdebilan\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*spb\.afora\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*spravka130\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*steame\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*success\-seo.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*superiends\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*taihouse\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*tattooha\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*tedxrj\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*theguardlan\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*tomck\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*toyota\.7zap\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*trafficmonetize\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*trion\.od\.ua/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*uasb\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*uzungil\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*videos\-for\-your\-business\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*video\-woman\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*viel\.su/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*viktoria\-center\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*vodaodessa\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*vodkoved\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*webmaster\-traffic\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*webmonetizer\.net/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*websites\-reviews\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*websocial\.me/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*wmasterlead\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*ykecwqlixx\.ru/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*youporn\-forum\.ga/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*youporn\-forum\.uni\.me/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*youporn\-ru\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*zastroyka\.org/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*грузоподъемные\-машины\.рф/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*наркомания\.лечениенаркомании\.com/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*непереводимая\.рф/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*профмонтаж\-врн\.рф/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*снятьдомвсевастополе\.рф/ [NC,OR]
  RewriteCond %{HTTP_REFERER} ^http://.*холодныйобзвон\.рф/ [NC,OR]
  RewriteRule ^(.*)$ – [F,L]
</IfModule>
