////////////////////////////////
// colors
////////////////////////////////

// brand palette
$brand-color:     blue;
$secondary-color: cyan;

// ui
$success-color:   green;
$warning-color:   yellow;
$error-color:     red;

// neutrals
$black:   #000000;
$dark-2:  #2A2A2A;
$dark-1:  #555555;
$gray:    #7F7F7F;
$light-2: #AAAAAA;
$light-1: #D4D4D4;
$white:   #FFFFFF;

// shadow
$shadow:          rgba($black, 0.5);
$shadow-subtle:   rgba($black, 0.25);
$shadow-dark:     rgba($black, 0.75);

// social media colors
$facebook-color:  #3b5998;
$twitter-color:   #00aced;
$linkedin-color:  #0077B5;
$google-color:    #DD4B39;
$instagram-color: #e4405f;


////////////////////////////////
// font sizes
////////////////////////////////

$giga:    rem(100);
$alpha:   rem(68);
$beta:    rem(44);
$gamma:   rem(30);
$delta:   rem(20); // 1rem
$epsilon: rem(17); // use sparingly!
$milli:   rem(14);


////////////////////////////////
// breakpoints
////////////////////////////////

// t-shirt sizing ftw
$xxs:  20em;
$xs:   30em;
$s:    40em;
$m:    56em;
$l:    64em;
$xl:   80em;
$xxl:  90em;
$xxxl: 100em;


////////////////////////////////
// miscellaneous measurements
////////////////////////////////

// border
$border-width:       2px;
$border-width-thick: 0.25em;

// border radius
$radius: 2px;

// used by _jf-grid.scss
$gutter: 1rem;
$max-container-width: 60rem;

// used by _nav.scss
$nav-height: rem(49);

// used by _cards.scss
$thumb-width:  rem(160);
$thumb-height: rem(120);


////////////////////////////////
// motion
////////////////////////////////

$timing: 0.3s ease;
