////////////////////////////////
// refactor
////////////////////////////////

// OG button
.button {
  @include button-base;
  background-image: radial-gradient(ellipse at top center, rgba($white, 0.15) 0, rgba($black, 0) 100%); // radial glossy overlay

  &:hover, &:focus {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  &:focus {
    @include box-shadow-focus;
  }
  &:active {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

// inverted
.button-inverted {
  @include button-base($white, $brand-color);
  @include box-shadow;
  background-image: linear-gradient(to bottom, $white 0%,rgba($black, 0.05) 100%); // linear glossy overlay

  &:hover, &:focus {
    color: $secondary-color !important;
  }
  &:active {
    color: $secondary-color !important;
  }
}
